* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.shopsList {
  width: 90vw;
  margin: 0 auto;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-template-rows: repeat(auto-fill, auto);
}

.shopsListItem {
  outline: lightgrey 2px ridge;
  height: minmax(250px, 1fr);
}

.addShop:hover {
  text-decoration: none;
}

.shopOpen {
  outline: green 2px ridge;
}

.shopClosed {
  outline: red 2px ridge;
}
