* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

li.selected {
  background-color: #e8f0fe;
}

.Shops_ListGroup {
  width: 90vw;
  margin: 0 auto;
}

.shopsList {
  width: 90vw;
  margin: 20px auto;
  padding: 0;

  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
  grid-template-rows: repeat(auto-fill, auto);
}

.ListItem {
  outline: lightgrey 2px ridge;
  height: minmax(250px, 1fr);
}

.listItemLink {
  margin: 5px;
  background-color: #0056b3;
  color: #f8f9fa;
}
.listItemLink:hover {
  background-color: lightgrey;
  color: #0056b3;
}

.addShop:hover {
  text-decoration: none;
}

.shopOpen {
  outline: green 2px ridge;
}

.shopClosed {
  outline: red 2px ridge;
}

.shopFormPage {
  margin: 15px auto;
}
